@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  display: flex;
  font-family: "Press Start 2P", cursive;
}

#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  z-index: 100;
}

#playerColour {
  width: 20px;
  height: 20px;
  border: 1px solid white;
}
